html {
    position: relative;
    min-height: 100%;
}

body {
    background: white;
    padding-top: 3rem;
}

footer {
    text-align: center;
}

.lower-container {
    padding-top: 2rem;
}

.gap {
    height: 25px;
}