html{
  position:relative; 
  min-height: 100%;
}

body {
	height: 100%;
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #ffffff, #c1c1c1) fixed; /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom, #ffffff, #c1c1c1)  fixed; /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom, #ffffff, #c1c1c1)  fixed; /*Fx 3.6-15*/
	background: linear-gradient(to bottom, #ffffff, #c1c1c1)  fixed; /*Standard*/
	margin-top: 60px;
	margin-bottom: 100px;
}

/* Menu */
.navbar-background{
	background: white;
	border-style: none;
	box-shadow: 0px 2px 17px grey;
	text-shadow: none;
}

.navbar .navbar-brand {
	color: black;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: black;
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus {
    background-color: #fdfdfd;
	color: #969696;
}

/* Body */
.title {
	text-align: center;
	color: #004d99;
	font-size: 46px;
    margin-bottom: 30px;
	margin-top: 30px;
    line-height: 90%;
}

.title-small {
	text-align: center;
	color: #00284d;
	font-size: 24px;
    margin-bottom: 20px;
}

.title-section {
	text-align: left;
	color: #00284d;
	font-size: 20px;
	margin-bottom: 5px;
}

.title-section-small {
	text-align: left;
	color: #00284d;
	font-size: 14px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.carousel-black {
	color: #00284d;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 14px;
	color: black;
}

hr.separator { 
	border: 0; 
	height: 2px;
  	background: grey; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(255,0,0,0) 10%, #8c8b8b, rgba(255,0,0,0) 90%); /*Safari 5.1-6*/
	background: -o-linear-gradient(left, rgba(255,0,0,0) 10%, #8c8b8b, rgba(255,0,0,0) 90%); /*Opera 11.1-12*/
	background: -moz-linear-gradient(left, rgba(255,0,0,0) 10%, #8c8b8b, rgba(255,0,0,0) 90%); /*Fx 3.6-15*/
	background: linear-gradient(to left, rgba(255,0,0,0) 10%, #8c8b8b, rgba(255,0,0,0) 90%); /*Standard*/
}

hr.separator-short { 
	border: 0;
	margin-top: 1px;
	height: 1px;
  	background: grey; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(right, #8c8b8b, rgba(255,0,0,0) 50%); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, #8c8b8b, rgba(255,0,0,0) 50%); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, #8c8b8b, rgba(255,0,0,0) 50%); /*Fx 3.6-15*/
	background: linear-gradient(to right, #8c8b8b, rgba(255,0,0,0) 50%); /*Standard*/
}

/* Text */
p {
	font-size: 18px;
    text-align: justify;
}

pre {
	overflow: auto;
	white-space: normal;
	word-break: keep-all;
}

.project-description {
	font-size: 18px;
    text-align: left;
}

.main {
	margin-bottom: 5%;
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
}

/* Images */
.img-wrapper {
	width: 40%;
	position: relative;
	float: right;
	clear: right;
	margin: 0px 0px 0px 10px;
}

.caption {
	font-size: 14px;
}

img.resize100 {
  max-width: 100%;
  max-height: 100%;
  float: right;
}

img.resize50 {
  max-width: 50%;
  max-height: 50%;
}